
# rename to .env
VITE_SUPABASE_URL=https://wggycbuttkpjgltandnj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndnZ3ljYnV0dGtwamdsdGFuZG5qIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjAzMTc1ODAsImV4cCI6MjA3NTg5MzU4MH0.BZRAutoshuWjEERJ4_vlq0fDM76nkLKCQPjnCJvj0KU